.App {
  padding: 0 80px;
  box-sizing: border-box;
}

.App h1 {
  text-align: center;
}

.App .movie {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  justify-content: space-between;
  padding: 7px;
  margin-bottom: 10px;
}

.App .movie .movie-title {
  flex-grow: 1;
  font-weight: 600;
}

.App .movie .movie-year {
  font-size: 13px;
  color: #ff5e00;
}

.App .movie .deleteBtn button {
  border: none;
  background: #686868;
  color: #ffffff;
  border-radius: 10px;
  padding: 5px 8px;
  margin-bottom: 0;
}

.App form input {
  width: 100%;
  border: 1px solid #ddd;
  margin-bottom: 5px;
  padding: 7px;
  box-sizing: border-box;
}

.App form button {
  width: 100%;
  border: none;
  background: #00179b;
  color: #fff;
  padding: 7px;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.App form .errText {
  color: #f00;
  font-size: 12px;
  margin-bottom: 5px;
}

.App .addText {
  font-size: 15px;
  color: #929292;
}
